 body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     height: 100vh;
  	 overflow: hidden;
  	 background-color: black;
   
}

.sun{
    position: absolute;
    width: 80%;
    left: -720px;
    height: 300px;
    top: 0%;
    margin: 0 auto;
    opacity: 0;
}

.moon{
   position: absolute;
    width: 60%;
    right: -720px;
    height: 300px;
    top: 10%;
    margin: 0 auto;
    opacity: 0;
}
.center{
      margin: auto;

      color: #FFFF;

    }
#clock{
      font-size: 5em;
      text-align: center;
      font-family: 'Lato', sans-serif;
      padding: 40px;
      text-shadow: 0 0 10px #FFC3A0;
}
#date{
	font-size: 5em;
      text-align: center;
      font-family: 'Lato', sans-serif;
      padding: 40px;
      text-shadow: 0 0 10px #FFC3A0;
}
h1{
    font-family: 'montserrat', sans-serif;
    color: #000;
    margin-top: 10%;;
    font-size: 5em;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.planetmars{
	position: absolute;
    top: -1291px;
    width: 100%;
    height: 400px;
    margin: 0 auto;

}
#banner {
    position: absolute;
    width: 100vw;
    top: 10px;
    height: 100vw;
    background: black;
    z-index: -1
}

.star {
    position: absolute;
    width: 6px;
    height: 6px;
    background:white;
    visibility: hidden;
    opacity: 0;
}


img{
	width: 100%
}

.planetearth{
	position: absolute;
    bottom: -88px;
    width: 100%;
    height: 400px;
    align-content: center;
    margin: 0 auto;
}
@media screen and (min-width: 1800px) {
.planetmars{

    top: -1550px;
}
.sun{

    left: -1160px;
}
}
@media screen and (max-width: 1800px) {
.planetmars{

    top: -1411px;
}
.sun{

    left: -990px;
}
}

@media screen and (max-width: 1600px) {
.planetmars{

    top: -1250px;
}
.sun{

    left: -820px;
}
.moon{
	 right: -610px;
}
}

@media screen and (max-width: 1400px) {
.planetmars{

    top: -1050px;
}
.sun{

    left: -700px;
    top:9%;
}
.moon{
	right: -550px;
    top: 15%;
}
}

@media screen and (max-width: 1200px) {
.planetmars{

    top: -950px;
}
.sun{
	top: 17%;
    left: -660px;
}
.moon{
	right: -460px;
    top: 20%;
}
}

@media screen and (max-width: 1100px) {
.planetmars{

    top: -850px;
}
.sun{
	top: 20%;
    left: -540px;
}

.moon{
	right: -400px;
    top: 25%;
}
}

@media screen and (max-width: 1000px) {
.planetmars{

    top: -650px;
}
.sun{
	top: 20%;
    left: -540px;
}
.moon{
	right: -400px;
    top: 25%;
}
}

@media screen and (max-width: 800px) {
.planetmars{

    top: -450px;
}
.sun{
	    top: 25%;
    left: -450px;
}

.moon{
	right: -330px;
    top: 30%;
}
}

@media screen and (max-width: 600px) {
.planetmars{

    top: -250px;
}
.sun{
	 top: 30%;
    left: -340px;
}
.moon{
	    right: -280px;
    top: 35%;
}

}

@media screen and (max-width: 500px) {
#clock{
    font-size: 3em;
    padding: 20px;
 
}
#date{
	font-size: 3em;
	padding: 20px;
      
}
h1{
    font-size: 3em;
}
.planetmars{

    top: -250px;
}
.planetearth{
    bottom: -260px;
}
.sun{
	top: 35%;
    left: -260px;
}
.moon{right: -210px;
    top: 40%;
}}
}